<ion-header>
  <ion-toolbar>
    <div class="header">
      <ion-button spot="start" fill="clear" (click)="navigateTo('login')"><ion-icon spot="start" name="arrow-back-outline" class="icon-title"></ion-icon></ion-button>
      <ion-title #title class="duoc"><span class="yellow">Registr</span><span class="blue">APP</span></ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center-form">
    <div>
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating" type="text" placeholder="Usuario" [(ngModel)]="username"></ion-input>
      <ion-icon style="width: 30px; color:black; height: 30px; margin-right: 8px;" name="person-circle-outline" spot="start"></ion-icon>
    </ion-item>

    <div>
      <ion-button expand="block" shape="round" color="secondary" (click)="resetPassword()">
        Recuperar contraseña
      </ion-button>
    </div>
  </div>
  </div>
 
</ion-content>
