<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button shape="round" color="secondary" (click)="navigateTo('home')">
        <img src="assets/img/home.png" alt="icono" style="width: 30px; height: 20px; margin-right: 8px;">
        Inicio
      </ion-item>
      <ion-item button shape="round" color="secondary" (click)="navigateTo('user')">
        <img src="assets/img/usuario.png" alt="icono" style="width: 20px; height: 20px; margin-right: 8px;">
        Usuario 
      </ion-item>
      <ion-item button shape="round" color="secondary" (click)="navigateTo('lista')">
        <ion-icon style="width: 20px; height: 30px; margin-right: 8px;" name="list-outline"></ion-icon>
        Lista 
      </ion-item>
    </ion-list>

    <div style="display: flex; flex-direction: column; height: 77%; justify-content: flex-end;">
      <ion-item button shape="round" color="danger" (click)="presentLogoutConfirm('login')" style="background-color: red;">
        <ion-label style="color: white; text-align: center;">Salir</ion-label>
      </ion-item>
    </div>


    

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>RegistrApp</ion-title>
    </ion-toolbar>
  </ion-header>
  <hr>
  <ion-content>
    <div class="form-container">
      <ion-text>
        <h1 style="color: #4c00ff; justify-content: center;">Bienvenido</h1>
        <h3 style="color: #f90;">Esta es la app de registro de Asistencias DuocUc</h3>
      </ion-text>
    </div>

  <ion-segment [(ngModel)]="segment" mode="ios">
  <ion-segment-button shape="round" (click)="qrcode()" style="background-color: yellow;">
    <ion-label style="display: flex; align-items: center; justify-content: center;">
      <h1>Registrar Asistencia</h1>
      <ion-icon slot="end" name="qr-code-outline"></ion-icon> 
    </ion-label>
  </ion-segment-button>
</ion-segment>

<ion-button expand="block" shape="round" color="primary" (click)="toggleHistorial()" style="font-size: 18px;">
  {{ historialVisible ? 'Ocultar Historial' : 'Ver Historial' }}
  <ion-icon slot="end" [name]="historialVisible ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
</ion-button>

<div class="historial-container" *ngIf="historialVisible">
<ion-list>
  <ion-item *ngFor="let asistencia of historialAsistencias">
    <ion-label>
      <h2 style="color: black;">{{ asistencia.texto }}</h2>
      <p>{{ asistencia.fecha }}</p>
    </ion-label>
  </ion-item>
</ion-list>
</div>

<ion-button expand="block" shape="round" color="primary" (click)="toggleGenerarQR()" style="font-size: 18px;">
    Crear Qr de la Clase
  </ion-button>



<ion-content>

  <div *ngIf="generarQRVisible">

    <ion-toolbar>
      <ion-title>Seleccionar materia</ion-title>
    </ion-toolbar>
  <!-- Formulario de selección -->
  <ion-list>
  <ion-item>
    <ion-label>Selecciona una asignatura</ion-label>
    <ion-select label-placement="fixed" [(ngModel)]="asignatura" placeholder="Elige una asignatura" style="color: #000;">
      <ion-select-option value="ASY4131">Arquitectura</ion-select-option>
      <ion-select-option value="CSY4111">Calidad de Software</ion-select-option>
      <ion-select-option value="MAT4140">Estadisctica Descriptiva</ion-select-option>
      <ion-select-option value="EAY4450">Etica para el trabajo</ion-select-option>
      <ion-select-option value="INI5111">Ingles Intermedio</ion-select-option>
      <ion-select-option value="APY4461">Proceso portafolio 4</ion-select-option>
      <ion-select-option value="PGY4121">Programacion de aplicaciones moviles</ion-select-option>
      <ion-select-option value="TDM4112">Taller de Tenis de Mesa</ion-select-option>
      <ion-select-option value="VOL2427">Taller de VoleyBall</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Selecciona una sección</ion-label>
    <ion-select [(ngModel)]="seccion" placeholder="Elige una sección" style="color: #000;">
      <ion-select-option value="001D">001D</ion-select-option>
      <ion-select-option value="002D">002D</ion-select-option>
      <ion-select-option value="003D">003D</ion-select-option>
      <ion-select-option value="004D">004D</ion-select-option>
      <ion-select-option value="005D">005D</ion-select-option>
    </ion-select>
  </ion-item>

  
  <ion-item>
    <ion-label>Selecciona una sala</ion-label>
    <ion-select [(ngModel)]="sala" placeholder="Elige una sala" style="color: #000;">
      <ion-select-option style="color: #000;" value="L3">L3</ion-select-option>
      <ion-select-option style="color: #000;" value="L4">L4</ion-select-option>
      <ion-select-option style="color: #000;" value="L5">L5</ion-select-option>
      <ion-select-option style="color: #000;" value="L6">L6</ion-select-option>
      <ion-select-option style="color: #000;" value="L7">L7</ion-select-option>
      <ion-select-option style="color: #000;" value="L7">Sala 303</ion-select-option>
      <ion-select-option style="color: #000;" value="L7">Espacio -1</ion-select-option>
      <ion-select-option style="color: #000;" value="L7">Cancha</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
  <!-- Botón para guardar selección -->
  <ion-button expand="full" (click)="guardarSeleccion()">Generar QR</ion-button>

  <h1 style="text-align: center;">Escanea la asistencia de la Clase</h1>

  
  <!--Mostrar el qr-->
  <div *ngIf="segment === 'generar'">
    <div class="segment-content">
      <div id="qrimage">
        <div class="d-flex-center">
          <div class="d-flex-center qr-wrapper">
            <qr-code [value]="qrText" size="190" errorCorrectionLevel="M"></qr-code>
          </div>
          <div style="display: flex; flex-direction: column; align-items: center; text-align: center; color: black;">
            <ion-textarea style="color: #fff;"
              [readonly]="true"
              label="Código de la Clase"
              label-placement="stacked"
              fill="outline"
              [(ngModel)]="qrText"
              [autoGrow]="true">
            </ion-textarea>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-card-header>
  <ion-card-title>
    <h3 style="color: #fff;">Hora: {{ horaActual }}</h3>
  </ion-card-title>
</ion-card-header>